<style>
    .footer {
        background-color: black;
        color: white;
        padding: 20px;
    }

    .footer a {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }

    .footer ul {
        list-style: none;
        margin: 0;
        padding: 0;

    }

    .footer ul li {
        text-align: left;
        line-height: 30px;
    }

    .footer ul li:hover {
        text-decoration: underline;
    }

    .footer .short-cut-links-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .footer .copyright {
        padding: 40px 0px 0px 0px;
        font-size: 13px;
        text-align: center;
    }
</style>

<div class="footer">
    <div class="short-cut-links-container">
        <ul class="first">
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/help">help</a></li>
            <li><a href="/weather">weather</a></li>
        </ul>
        <ul class="second">
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/help">help</a></li>
            <li><a href="/weather">weather</a></li>
        </ul>
        <ul class="third">
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/help">help</a></li>
            <li><a href="/weather">weather</a></li>
        </ul>
    </div>
    <div class="copyright">
        &copy; {{data}} rainsense.com
    </div>
</div>