<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon"
        href="https://th.bing.com/th/id/R.a1b1bfefa13289980d7dc50f5bb62355?rik=osUZhSfoyaquJg&riu=http%3a%2f%2ffiles.softicons.com%2fdownload%2fsystem-icons%2ffold-icons-by-fredericorama%2fpng%2f512%2fhelp.png&ehk=EM7Ztv%2bf97UxrbImzvaOSk4o0%2bBZJa9VKWF06lC6XYY%3d&risl=&pid=ImgRaw&r=0">
</head>

<body>
    {{>header}}
    <div class="website-container">
        <h1>{{message}}</h1>
        <h1>{{title}}</h1>
        <img class="demo" src="/img/demo.jpg" alt="demo">
        <p>Just enter the more descriptive string as an address and enter/submit and you will get your forecast in the
            below container</p>
        <p>created by - {{name}}</p>
    </div>
    {{>footer}}
</body>

</html>