<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    {{>header}}

    <div class="website-container">
        <h1>{{title}}</h1>
        <p>using our API you can get complete weather info just do the following changes in the above url in url bar</p>
        <p class="title">/weather?address=provide-address-here</p>
        <p>You can also provide your IP address</p>
        <p class="title">
            /weather?address=ip-address
        </p>
        <p>created by -{{name}}</p>
    </div>

    {{>footer}}
</body>

</html>