<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <div style="height:calc(100vh - 314px)">
        <h1 style="text-align:center;">To be implmented</h1>
    </div>
    {{>footer}}
</body>
</html>